In [1]:
import pandas as pd

df = pd.read_csv("../datasets/Dice_US_jobs.csv")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 1915-1916: invalid continuation byte

In [5]:
import csv

try:
    with open("../datasets/Dice_US_jobs.csv", "r", encoding="utf-8") as file:
        for line_number, line in enumerate(file, 1):
            try:
                print(line)
                # Attempt to process the line
                # Your code for processing the line goes here
            except UnicodeDecodeError as e:
                # Handle the UnicodeDecodeError and print or log the details
                print(f"UnicodeDecodeError at line {line_number}, position {e.start}: {e.reason}")
                print(f"Problematic line: {line}")
except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: 'utf-8' codec can't decode bytes in position 1915-1916: invalid continuation byte

In [36]:
import chardet
import pandas as pd

# Detect the encoding of the file
with open("../datasets/Dice_US_jobs.csv", 'rb') as f:
    result = chardet.detect(f.read())

# The detected encoding is in result['encoding']
detected_encoding = result['encoding']
print(detected_encoding)

MacRoman







PRINT FROM HERE

In [37]:
# Use the detected encoding when reading the file with pandas
detected_encoding = "MacRoman"
df = pd.read_csv("../datasets/Dice_US_jobs.csv", encoding=detected_encoding)

In [38]:
df.head()

,country_code,date_added,job_board,job_description,job_title,job_type,location,organization,page_url,phone_number,salary,sector
0,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:EDI, TrustedLink, AS2,...",EDI Analyst,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/EDI-Analyst-%...,NaN,NaN,"EDI, TrustedLink, AS2, VAN - EDI, TrustedLink,..."
1,US,11/11/2016,https://www.dice.com,"InformaticaÂ / ETL DeveloperSt, Petersburg, FL...",Informatica ETL Developer,"Full Time, Full Time","St Petersburg, FL",TrustMinds,https://www.dice.com/jobs/detail/Informatica-E...,NaN,NaN,ETL Informatica B2B Data Exchange Netezza Orac...
2,US,11/11/2016,https://www.dice.com,pmayekar@kanandcorp.com 512-697-8897Sunnyvale ...,Angular developer,"Full Time, Contract Corp-To-Corp, Contract Ind...","Sunnyvale, CA",K Anand Corporation,https://www.dice.com/jobs/detail/Angular-devel...,NaN,NaN,Angular
3,US,11/12/2016,https://www.dice.com,This nationally recognized Microsoft Gold Part...,"Microsoft Dynamics AX, Project Manager",Full Time,"Toronto, Canada, ON",Nigel Frank International,https://www.dice.com/jobs/detail/Microsoft-Dyn...,NaN,NaN,"Microsoft Dynamics AX, Project Manager - Toron..."
4,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:C#, ASP.NET, SQL, Java...",Software Developer,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/Software-Deve...,NaN,NaN,"C#, ASP.NET, SQL, JavaScript, MVC - C#, ASP.NE..."

In [39]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21919 entries, 0 to 21918
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     21919 non-null  object
 1   date_added       21919 non-null  object
 2   job_board        21919 non-null  object
 3   job_description  21919 non-null  object
 4   job_title        21918 non-null  object
 5   job_type         21680 non-null  object
 6   location         21918 non-null  object
 7   organization     21918 non-null  object
 8   page_url         21918 non-null  object
 9   phone_number     50 non-null     object
 10  salary           28 non-null     object
 11  sector           21886 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB

,country_code,date_added,job_board,job_description,job_title,job_type,location,organization,page_url,phone_number,salary,sector
count,21919,21919,21919,21919,21918,21680,21918,21918,21918,50,28,21886
unique,1,201,2,19942,12208,2113,2096,3016,21918,36,21,17849
top,US,12/9/2016,https://www.dice.com,"At Vistaprint, we believe that everything we d...",Software Engineer,"Full Time, Full-time, Employee","New York, NY",CyberCoders,https://www.dice.com/jobs/detail/EDI-Analyst-%...,Contact No (Cell and Landline),$0 per year,See job description
freq,21919,930,21846,28,259,6172,500,6296,1,4,6,172

In [40]:

# Create a boolean mask to identify rows with missing values
missing_rows_mask = df.isna().any(axis=1)

# Use the mask to filter and print out rows with missing values
missing_rows = df[missing_rows_mask]

# Print the rows with missing values
print(missing_rows)

      country_code  date_added             job_board
0               US  11/11/2016  https://www.dice.com  \
1               US  11/11/2016  https://www.dice.com
2               US  11/11/2016  https://www.dice.com
3               US  11/12/2016  https://www.dice.com
4               US  11/11/2016  https://www.dice.com
...            ...         ...                   ...
21914           US   12/9/2016  https://www.dice.com
21915           US   12/9/2016  https://www.dice.com
21916           US   12/9/2016  https://www.dice.com
21917           US   12/9/2016  https://www.dice.com
21918           US   12/9/2016  https://www.dice.com

                                         job_description
0      Minimum Required Skills:EDI, TrustedLink, AS2,...  \
1      InformaticaÂ / ETL DeveloperSt, Petersburg, FL...
2      pmayekar@kanandcorp.com 512-697-8897Sunnyvale ...
3      This nationally recognized Microsoft Gold Part...
4      Minimum Required Skills:C#, ASP.NET, SQL, Java...
...                                                  ...
21914  Minimum Required Skills:Angular, JavaScript, A...
21915  Please do send your Profiles to : shankar@tech...
21916  Minimum Required Skills:JavaScript, React.JS, ...
21917  Minimum Required Skills:Ruby on Rails, HAML, S...
21918  Minimum Required Skills:C++/.NET/Java, Softwar...

                                               job_title
0                                            EDI Analyst  \
1                              Informatica ETL Developer
2                                      Angular developer
3                 Microsoft Dynamics AX, Project Manager
4                                     Software Developer
...                                                  ...
21914        Front End Engineer (Angular, Will Relocate)
21915                        Need Salesforce Delivery PM
21916                               Remote Web Developer
21917  Senior Ruby on Rails Software Developer (100% ...
21918                                  Security Engineer

                                                job_type
0                         Full Time, Full-time, Employee  \
1                                   Full Time, Full Time
2      Full Time, Contract Corp-To-Corp, Contract Ind...
3                                              Full Time
4                         Full Time, Full-time, Employee
...                                                  ...
21914                     Full Time, Full-time, Employee
21915                  Contract W2, 8 month contract (po
21916                     Full Time, Full-time, Employee
21917                     Full Time, Full-time, Employee
21918                     Full Time, Full-time, Employee

                   location               organization
0              Stamford, CT                CyberCoders  \
1         St Petersburg, FL                 TrustMinds
2             Sunnyvale, CA        K Anand Corporation
3       Toronto, Canada, ON  Nigel Frank International
4              Stamford, CT                CyberCoders
...                     ...                        ...
21914  Saint Petersburg, FL                CyberCoders
21915       Minneapolis, MN     Technology Consultants
21916           Seattle, WA                CyberCoders
21917       Saint Louis, MO                CyberCoders
21918           Seattle, WA                CyberCoders

                                                page_url phone_number salary
0      https://www.dice.com/jobs/detail/EDI-Analyst-%...          NaN    NaN  \
1      https://www.dice.com/jobs/detail/Informatica-E...          NaN    NaN
2      https://www.dice.com/jobs/detail/Angular-devel...          NaN    NaN
3      https://www.dice.com/jobs/detail/Microsoft-Dyn...          NaN    NaN
4      https://www.dice.com/jobs/detail/Software-Deve...          NaN    NaN
...                                                  ...          ...    ...
21914  https://www.dice.com/jobs/detail/Front-End-Eng...          NaN    NaN
21915  https://www.dice.com/jobs/detail/Need-Salesfor...          NaN    NaN
21916  https://www.dice.com/jobs/detail/Remote-Web-De...          NaN    NaN
21917  https://www.dice.com/jobs/detail/Senior-Ruby-o...          NaN    NaN
21918  https://www.dice.com/jobs/detail/Security-Engi...          NaN    NaN

                                                  sector
0      EDI, TrustedLink, AS2, VAN - EDI, TrustedLink,...
1      ETL Informatica B2B Data Exchange Netezza Orac...
2                                                Angular
3      Microsoft Dynamics AX, Project Manager - Toron...
4      C#, ASP.NET, SQL, JavaScript, MVC - C#, ASP.NE...
...                                                  ...
21914  Angular, JavaScript, AJAX, REST, JSON, D3, rea...
21915                             Salesforce Delivery PM
21916  JavaScript, React.JS, Golang, Startup, RoR, IO...
21917  Ruby on Rails, HAML, SASS, Postgres, Memcached...
21918  C++/.NET/Java, Software Application Security, ...

[21919 rows x 12 columns]

In [34]:
print(df.count())

country_code       21919
date_added         21919
job_board          21919
job_description    21919
job_title          21918
job_type           21680
location           21918
organization       21918
page_url           21918
phone_number          50
salary                28
sector             21886
dtype: int64

In [35]:
# Filter for job titles containing "developer"
df_developers = df[df["job_title"].str.contains("Software")]

print(df_developers.count())
# Count the rows in the filtered DataFrame
developer_count = df_developers.shape[0]  # Get the number of rows

print(f"Number of job titles containing 'developer': {developer_count}")

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [32]:
print(df.count())
# Remove rows with missing values
# df.dropna(inplace=True)
print(df.count())

# Filter for job titles containing "developer"
df_developers = df[df["job_title"].str.contains("Software")]

print(df_developers.count())
# Count the rows in the filtered DataFrame
developer_count = df_developers.shape[0]  # Get the number of rows

print(f"Number of job titles containing 'developer': {developer_count}")

country_code       21919
date_added         21919
job_board          21919
job_description    21919
job_title          21918
job_type           21680
location           21918
organization       21918
page_url           21918
phone_number          50
salary                28
sector             21886
dtype: int64
country_code       21919
date_added         21919
job_board          21919
job_description    21919
job_title          21918
job_type           21680
location           21918
organization       21918
page_url           21918
phone_number          50
salary                28
sector             21886
dtype: int64

ValueError: Cannot mask with non-boolean array containing NA / NaN values