In [1]:
import csv
import pandas as pd

In [2]:
detected_encoding = "MacRoman"
df = pd.read_csv("../datasets/Dice_US_jobs.csv", encoding=detected_encoding)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21919 entries, 0 to 21918
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     21919 non-null  object
 1   date_added       21919 non-null  object
 2   job_board        21919 non-null  object
 3   job_description  21919 non-null  object
 4   job_title        21918 non-null  object
 5   job_type         21680 non-null  object
 6   location         21918 non-null  object
 7   organization     21918 non-null  object
 8   page_url         21918 non-null  object
 9   phone_number     50 non-null     object
 10  salary           28 non-null     object
 11  sector           21886 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB
None

In [11]:
drop_columns = ["phone_number", "salary", "job_type"]
df.drop(columns=drop_columns, inplace=True)

KeyError: "['phone_number', 'salary'] not found in axis"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21919 entries, 0 to 21918
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     21919 non-null  object
 1   date_added       21919 non-null  object
 2   job_board        21919 non-null  object
 3   job_description  21919 non-null  object
 4   job_title        21918 non-null  object
 5   job_type         21680 non-null  object
 6   location         21918 non-null  object
 7   organization     21918 non-null  object
 8   page_url         21918 non-null  object
 9   sector           21886 non-null  object
dtypes: object(10)
memory usage: 1.7+ MB

In [13]:
drop_columns = ["job_type"]
df.drop(columns=drop_columns, inplace=True)

In [16]:
drop_columns = ["sector"]
df.drop(columns=drop_columns, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21919 entries, 0 to 21918
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     21919 non-null  object
 1   date_added       21919 non-null  object
 2   job_board        21919 non-null  object
 3   job_description  21919 non-null  object
 4   job_title        21918 non-null  object
 5   location         21918 non-null  object
 6   organization     21918 non-null  object
 7   page_url         21918 non-null  object
dtypes: object(8)
memory usage: 1.3+ MB

In [21]:
all_titles = df[df["job_title"].notna()]

all_titles.head()

,country_code,date_added,job_board,job_description,job_title,location,organization,page_url
0,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:EDI, TrustedLink, AS2,...",EDI Analyst,"Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/EDI-Analyst-%...
1,US,11/11/2016,https://www.dice.com,"InformaticaÂ / ETL DeveloperSt, Petersburg, FL...",Informatica ETL Developer,"St Petersburg, FL",TrustMinds,https://www.dice.com/jobs/detail/Informatica-E...
2,US,11/11/2016,https://www.dice.com,pmayekar@kanandcorp.com 512-697-8897Sunnyvale ...,Angular developer,"Sunnyvale, CA",K Anand Corporation,https://www.dice.com/jobs/detail/Angular-devel...
3,US,11/12/2016,https://www.dice.com,This nationally recognized Microsoft Gold Part...,"Microsoft Dynamics AX, Project Manager","Toronto, Canada, ON",Nigel Frank International,https://www.dice.com/jobs/detail/Microsoft-Dyn...
4,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:C#, ASP.NET, SQL, Java...",Software Developer,"Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/Software-Deve...

In [22]:
all_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21918 entries, 0 to 21918
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     21918 non-null  object
 1   date_added       21918 non-null  object
 2   job_board        21918 non-null  object
 3   job_description  21918 non-null  object
 4   job_title        21918 non-null  object
 5   location         21918 non-null  object
 6   organization     21918 non-null  object
 7   page_url         21918 non-null  object
dtypes: object(8)
memory usage: 1.5+ MB

In [23]:
df_developers = all_titles[all_titles["job_title"].str.contains("Developer")]
df_developers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5023 entries, 1 to 21917
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     5023 non-null   object
 1   date_added       5023 non-null   object
 2   job_board        5023 non-null   object
 3   job_description  5023 non-null   object
 4   job_title        5023 non-null   object
 5   location         5023 non-null   object
 6   organization     5023 non-null   object
 7   page_url         5023 non-null   object
dtypes: object(8)
memory usage: 353.2+ KB